# Windows
 
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
 
# Dump file
*.stackdump
 
# Folder config file
[Dd]esktop.ini
 
# Recycle Bin used on file shares
$RECYCLE.BIN/
 
# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp
 
# Windows shortcuts
*.lnk
 
# Mac
 
## General
.DS_Store
.AppleDouble
.LSOverride
 
## Icon must end with two \r
Icon
 
## Thumbnails
._*
 
## Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
 
## Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
 
# GameMaker temporary files
*.resource_order
*.old
*.user
*.config
*.log
layout.xml

# GMRT build directory
Build/

# Executables and DLLs in datafiles (uncomment if you want to exclude them)
# datafiles/talkit/*.exe

# Ignore the scratch and extraction folder
scratch/
**/node_modules/
**/extracted_assets/
.claude/

# Ignore custom backgrounds and sound directories (and backups)
datafiles/scenes/
datafiles/scenes_backup/
datafiles/sounds/
datafiles/sounds_backup/

# Ignore binary pack archives
datafiles/*.pack

# Ignore custom scripts
scripts/custom/
